# rq and statsd/Graphite and requests are used by the job handler
rq==1.10.1
click==8.0.4
statsd==3.3.0
requests==2.27.1
watchtower==3.0.0

# yaml is used by file_utils used by ResourceContainer
pyyaml==6.0

# dateutil is used by data_utils used by ResourceContainer
py-dateutil==2.2

# sqlalchemy is used by manifest and pymysql must be used by sqlalchemy
sqlalchemy==1.4.32
pymysql==1.0.2

# boto3 is used by aws_tools
boto3==1.21.18

# For templating
beautifulsoup4==4.10.0
